<body>
    <div class="d-flex align-items-center justify-content-center">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/Calendario2.jpg" class="card-img-top" alt="..."
                            style="width: 286px; height: 250px;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Calendario</h5>
                            <p class="card-text">Calendario de la empresa</p>
                            <a routerLink="/calendario" class="btn btn-primary">Entrar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/Empleado.png" class="card-img-top" alt="..."
                            style="width: 286px; height: 250px;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Empleados</h5>
                            <p class="card-text">Control de Empleados</p>
                            <a routerLink="/empleados" class="btn btn-primary">Entrar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/Historial.jpg" class="card-img-top" alt="..."
                            style="width: 286px; height: 250px;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Historial</h5>
                            <p class="card-text">Historial de actividades</p>
                            <a href="#" class="btn btn-primary">Enrtrar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/RegistroNuevoEmpleado.png" class="card-img-top" alt="..."
                            style="width: 286px; height: 250px;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Registrar Empleado</h5>
                            <p class="card-text">Regisrar un nuevo empleado</p>
                            <a routerLink="/registro-nuevo-empleado" class="btn btn-primary">Enrtrar</a>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</body>