<app-navbar></app-navbar>

<body>
    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">
                            Lista De Empleados
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 mx-3">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-funnel-fill"> </i> Filtro
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Departamento</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-med-3"></div>
                    <div class="col-md-5 mb-3 text-right">
                        <form class="form-inline">
                            <div class="input-group">
                                <input name="buscar" class="form-control rounded" placeholder="Buscar">
                                <div class="input-group-append mx-2">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="bi bi-search mr-2"></i>Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-12 col-md-4 col-lg-3 col-xl-3" *ngFor="let empleado of this.empleado">
                            <div class="card rounded shadow custom-card mb-3 ml-3" style="width: 240px; height: 240px;">
                                <div class="card-body">
                                    <h5 class="card-title">{{empleado.Nombre}} {{empleado.Apellido}}</h5>
                                    <p class="card-text">Departamento: {{empleado.Departamento}}</p>
                                    <p class="card-text">Puesto: {{empleado.Puesto}}</p>
                                </div>
                                <div class="" style="text-align: center; ">
                                    <a  class="btn btn-success custom-width mb-3 mx-1" ><i class="bi bi-pencil-square"></i> Editar</a>
                                    <a  class="btn btn-danger custom-width mb-3 mx-1" (click)="eliminar(empleado.ID)"> <i class="bi bi-trash-fill"></i> Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>