.gradient-custom {
    /* fallback for old browsers */
    background: #56ab8d;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #6abe9e, #6abe9e);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6abe9e, #6abe9e)
}
.card-color{
    background: #2e735e;
}
.img{
    width: 120px;
    height: 120px;
}